.page-width  {
  width: 90%;
}

.searchBox-container {
  width: 100%;
  margin: 0 auto 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.searchBox-container .searchBox {
  width: 100%;
  padding: 0.3rem 0.8rem;
  border: 1px solid #d6d6d6;
  outline: 0;
  border-radius: 5px;
}

.searchBox-container .searchIcon {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  width: 1.1rem;
  height: 1.5rem;
}

.package-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  height: fit-content;
}

.package__card {
  width: 100%;
  height: fit-content;
  margin: 1rem 0;
  border: 1px solid #d6d6d6;
}

.package__card:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.package__card-img {
  width: 100%;
  height: 100%;
}

.package__card .package-card-heading {
  margin-top: 0.8rem;
  font-size: 1.07rem;
  font-weight: 600;
}

.package__card .package-card-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.package__card .package-card-text .sm-text {
  font-size: 0.8rem;
  font-weight: 500;
  margin: 0 0 0.3rem;
}

.package__card .package-price {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0;
  color: green;
}

.package__card-btn {
  margin: 0.5rem 0 0;
  width: 100%;
}

.package__card-btn button {
  width: 50%;
  padding: 0.5rem 0;
  font-size: 0.9rem;
  font-weight: 500;
  background-color: white;
  cursor: pointer;
  border: 1px solid #d6d6d6;
  border-bottom: none;
  text-transform: uppercase;
  outline: none;
}

.package__card-btn button:hover {
  opacity: 0.9;
}

.package__card-btn .book-now {
  background-color: green;
  color: white;
}

@media only screen and (max-width: 712px) {
  .page-width  {
    width: 65%;
  }
  .package-card-container {
    width: 65%;
  }
}

@media only screen and (max-width: 600px) {
  .page-width  {
    width: 75%;
  }
  .package-card-container {
    width: 75%;
  }
}

@media only screen and (max-width: 400px) {
  .page-width  {
    width: 90%;
  }
}

@media (min-width: 712px) {
  .package-card-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .package__card {
    margin: 1rem;
    width: 45%;
  }
  .searchBox-container .searchBox {
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
  }
}

@media (min-width: 900px) {
  .package__card {
    margin: 1rem 0.5rem;
    width: 45%;
  }
}

@media (min-width: 1000px) {
  .package__card {
    width: 30%;
  }
}

@media (min-width: 1200px) {
.plan-header {
  margin: 2rem auto;
  display: flex;
  flex-direction: row-reverse;
}

.plan-header h1 {
  width: 50% !important; 
}

.searchBox-container{
  width: 50%;
}

}

@media (min-width: 1420px) {
  .package-card-container {
    justify-content: flex-start;
  }
  .package__card {
    margin: 1rem 0.4rem;
    width: 24%;
  }
}
