:root{
  --primary-color: rgb(15,164,83);
  --secondary-color: rgb(134,75,216)
}
.btn-primary-b{
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: #fff;
  border-radius: 0.5em;
}
.btn-secondary-b{
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: #fff;
  border-radius: 0.5em;
}

@import url('./header.css');
@import url('./home.css');
@import url('./inform.css');
@import url('./index.css');
@import url('./chatbox.css');
@import url('./dmpass.css');
@import url('./busmansoon.css');
@import url('./location.css');
@import url('./ticonfirm.css');
@import url('./selectbooking.css');
@import url('./review.css');
@import url('./search.css');
@import url('./mediaQuery.css');