.audioJourney_heading {
  font-size: 29px;
}

.audiocard-container {
  display: flex;
  flex-direction: column;
}

.audioJourney_description {
  font-size: 0.8rem;
}

.audio-card {
  margin: 0.6rem 0;
  height: 155px;
}

.audio_journey_player {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  color: white;
  text-align: center;
  height: 66.77px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.play_btn_center {
  align-self: center;
}

@media only screen and (min-width: 600px) {
  .audiocard-container {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .audio-card {
    width: 50%;
    margin: 1rem 0;
  }
}

@media (min-width: 712px) {
  .audiocard-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .audio-card {
    width: 45%;
  }
}

@media (min-width: 900px) {
  .audio-card {
    margin: 1rem 0.5rem;
    width: 45%;
  }
}

@media (min-width: 1000px) {
  .audio-card {
    width: 30%;
  }

.audioJourney_description {
  font-size: 0.9rem;
}

}

@media (min-width: 1420px) {
  .audiocard-container {
    justify-content: flex-start;
  }
  .audio-card {
    margin: 1rem 0.4rem;
    width: 24%;
  }
}
