
.mansoon-div{
    width: 100%;
}
.mansoon-row{
    background-color:#F8F8F8;
    color: grey;
    margin: 10px;
    border-radius: 8px;
    border: 2px dashed #0FA453;
    height: 74px;
}
.mansoon-per{
    font-size: 12px;
    font-weight: bolder;
    color: black;
   
}
.mansoon-item{
    font-weight: bolder;
    color: black;
}
.train-sleeper{
    font-family: sans-serif;
    font-weight: 500;
    color: grey;
    padding: 5px;
}
.train-seats{
    /* border: 1px solid red; */
    background-color: #0FA453;
    color: white;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 0px 1px 1px grey;
    height: 68px;
    width: 75px;
}
.train-seatsmobile {
    background-color: #0FA453;
    color: white;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 0px 1px 1px grey;
    height: 80px;
    width: 75px;
}
.select-train{
    background-color:#F8F8F8;
    color: grey;
    height: 65px;
}
.checout-btn{
    width: 66%;
    height: 30px;
    font-size: 12px;
    color: white;
    font-weight: bolder;
    background-color:#0FA453 ;
}
.check-passenger{
    background-color:#F8F8F8;
    border-radius: 3px;
    height: 141px;
    width: 100%;    
}
.check-payment{
    /* position: absolute; */
/* width: 1440px; */
margin-top: 50px;
width: 100%;
display: flex;
justify-content: center;
height: 86px;
left: 0px;
top: 713px;
bottom: 0;

background: #0FA453;
}
.checkout-payment{
    /* position: absolute;
    line-height: 25px;
    font-size: 21px;
    text-align: center;
    padding-top: 32px;
    font-weight: bolder;
    
color: #FFFFFF; */

}