@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
/* body{
  background-color: #301014;
  font-family: 'Alata';
  color: white;
  cursor: crosshair;
} */
.wrapper{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: 50% 50%;
  margin-left: auto;
  margin-right: auto;
}
.main{
  width:70vw;
  height:70vh;
  background-color: #f3f3f3;
  
  border-radius:10px;
  box-shadow: 0px 8px 60px -30px white; 
  margin: auto; 
}

#chat{
  position : fixed;
  display: inline-block;
  width : 0;
  font-size : 70px;
  word-wrap: break-word;  
  margin-left : 100%; 
  margin-top:0;
}

.chat-box{
  vertical-align: middle;
  display: inline-block;
  
  position: relative;
  top: 2.5vh;
  left: 40%;
  width:40vw;
  height:65vh;
  background-color:#D9D7DD;
  
  border-radius:10px;
  box-shadow: 0px 8px 60px -10px white; 
}
#chat-input{
  position : absolute;
  width : 95%;
  height : 10%;
  top: 90%;
  overflow:hidden;  
  
  padding-left: 20px;
  border-radius:10px;
  background: #D9D7DD;
  
  border:none;
  resize:none;
  outline:none;
  border:1px solid #ccc;
  color:#515052;
}
#chat-submit {  
  position:absolute;
  bottom:0;
  right:0;
  width:20%;
  height:10%;  
  
  background: transparent;
  background-color: #D72638;
  box-shadow:none;
  border:none;
  border-radius:10px;
  color:white;
  
}

.chat-logs {
  height:65vh;
  overflow-y:scroll;
}
.chat-logs::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

/*dalogflow
iframe {
  position: relative;
  top: -110px;

}*/

/*wip to delete later*/
