.footerIcons_container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FFFFFF;
    color: white;
    text-align: center;
    height: 66.77px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .footerIcons_items{
      margin: 1em;
  }

  .footerIcons_items a{
    color: #C4C4C4;
}