.sidebar {
  background-color: var(--primary-color);
  width: 300px;
  color: #fff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 1rem;
}
.sidebar__toggler {
  position: absolute;
  left: 1rem;
  top: 1rem;
  height: 40px;
  width: 40px;
}
.header .logo {
  width: 110px;
}
.btn-close {
  color: #fff;
}
.sidebar__navlink {
  width: 100%;
  color: #fff;
  padding: 1rem;
}
.sidebar__navlink:hover {
  color: #fff;
  font-weight: bold;
}
/* {header_div mon} */

.header_div {
  padding: 0px;
  margin: 0px;
  background-color: white !important;
}
.header_image {
  width: 100%;
}
.toggle-icon {
  margin-right: 20px;
}
.sidebar_item {
  padding: 10px;
  margin: 10px;
  font-size: 15px;
  font-weight: 600;
}
.explore-search{
  width: 50%;
  margin: auto;
}
.header_item {
  padding: 10px;
}
.header_item:hover {
  background-color: blue;
  color: white;
}
@media screen and (max-width: 700px) {
  .sidebar_item {
    width: 40% !important;
  }
  .header_image {
    width: 40% !important;
  }

  .searchIcon {
    position: absolute;
    right: 1rem;
    top: 1.5rem;
    height: 30px;
    width: 30px;
  }

  .explore-search{
    width: 100%;
    margin: auto;
  }
  .locationpass-btn{
    color: white;
    background-color: #0FA453;
    font-weight: bold;
    width: 100%;
    border-radius: 0px;
    margin: 0px;
    position: fixed;
    bottom: 0;
    height: 80px;
    border: 1px solid #0FA453;
}
.train-seats{
  /* border: 1px solid red; */
  background-color: #0FA453;
  color: white;
  text-align: center;
  border-radius: 5px;
  box-shadow: 1px 0px 1px 1px grey;
  height: 80px;
  /* width: 74px; */
}
}
