@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

.material__btn {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 20px;
}

.search__botton {
  /* opacity: 0; */
  background-image: url('http://www.endlessicons.com/wp-content/uploads/2012/12/search-icon.png');
}

.form__search-btn:focus {
  outline: 0;
}

.search-icon {
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -57px;
  right: -18px;
}

.package-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.packages__block-title_,
.packages__block-subtitle_ {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  -webkit-box-orient: vertical;
  font-weight: bold;
}

.code {
  text-decoration: none;
  color: #A5A5A5;
  cursor: pointer;
}

.code:hover {
  text-decoration: none;
  color: #000;
}

#package__sort>img {
  vertical-align: middle;
  border-style: none;
  max-width: 250px !important;
  height: 130px !important;
  border-radius: 10px;
  cursor: pointer !important;
}


.link__topnav {
  /* color: #000 !important; */
  /* font-weight: bold; */
  /* font-size: 16px; */
  /* padding-left: 0.8rem !important; */
  /* display: block; */
  /* padding: .5rem 1rem; */
}


.web__whatsapp:hover {
  text-decoration: none;
}

.mobile__btn:disabled {
  background: #6f6f6f;
}

.get__direction {
  color: #17a2b8 !important;
  font-size: 20px;
  font-weight: bolder !important;
  text-decoration: none !important
}

.link {
  color: #000 !important;
  text-decoration: none !important;
}

.line:hover {
  text-decoration: none !important;
  color: #000 !important;
}


#collasible-nav-dropdown {
  padding: 0 !important;
}

.dropdown-menu {
  right: 0 !important;
  left: auto !important;
  top: 50px !important;
}

.text__dark {
  color: #333;
}

.container {
  max-width: 1290px !important;
}


.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 180px;
}

.loader_center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #fafafa;
  box-sizing: border-box;
  height: 100vh;
}

.header {
  width: 100%;
  min-height: 100%;
  object-fit: contain;
  background-size: cover !important;
  background-position: center center !important;
  height: 500px;
}

.header__title {
  color: #fff;
  font-weight: 600;
  font-size: 48px;
  justify-content: center !important;
  padding: 50px 0px;
}

.logo {
  height: 91px;
  width: 96px;
  padding: 10px;
}

.header__avatar {
  display: flex;
  padding-left: 15px;
}

/* Modal Image */
.modal__image {
  width: 265.5px;
  height: 221.5px;
}

/* Section Package */

.dark {
  background: #000;
  color: #fff;
}

.package__title,
.footer__title,
.block__title,
.login__title {
  font-weight: 600;
}

.package__title>span,
.header__title>span,
.block__title>span,
.login__title>span {
  position: relative;
  display: inline-block;
}

.package__title>span::after,
.header__title>span::after,
.block__title>span::after {
  content: '';
  height: 5px;
  width: 20%;
  position: absolute;
  background: #b8b4fc;
  bottom: -2px;
  left: 0;
}

.packages__block-title {
  font-weight: 600;
}

/* .packages__block-subtitle {
  font-weight: 600;
} */

.package__item {
  display: flex;
  align-items: center;
}

.packages__item-img {
  width: 120px;
  background-position: center center !important;
  height: 100px;
  border-radius: 10px;
}

.packages__item-title {
  font-weight: 600;
  font-size: 16px;
}

.packages__item-subtitle {
  font-size: 14px;
}

.package__trip {
  /* padding: 16px; */
  text-decoration: none;
  color: #212529;
}

.package__trip:hover {
  text-decoration: none;
  color: #212529;
}

.packages_enquired {
  border: 2px solid rgb(120, 104, 230);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  font-weight: 600;
}

.packeges_title {
  text-align: center;
  margin-bottom: 40px;
}

.packages_whatsapp {
  border: 2px solid rgb(120, 104, 230);
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  font-weight: 500;
  background-color: rgb(120, 104, 230);
  color: white;
  text-transform: capitalize;
}

.package-whats {
  color: white;
  padding: 10px;
  text-decoration: none;
  margin: 5px;
  font-size: 18px;
  font-weight: 600;
}

.package-whats:hover {
  color: white;
}

/* ====================== */
/* Block */


.block__content-list {
  margin-bottom: 7px;
}

/* Inclusions */

.inclusionn__iteml>.inclusionn__item-list {
  padding-bottom: 12px;
  list-style: none;
  color: green;
}

.inclusionn__iteml>.inclusionn__item-list::before {
  content: '✓';
  padding-right: 10px;
}

.inclusionn__itemr>.inclusionn__item-list {
  padding-bottom: 12px;
  list-style: none;
  color: red;
}

.inclusionn__itemr>.inclusionn__item-list::before {
  content: '✕';
  padding-right: 10px;
}

/* Review */

.review__block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  max-width: 360px;
  margin: auto;

  background: #fcf399;
  border-radius: 10px;

  padding: 8px;
  /* box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05); */
}

.review__rating {
  padding: 3px;
  font-weight: 600;
  font-size: 30px;
}




.review__line {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}

.review__line>span {
  padding-right: 10px;
}



/* ============= */

/* Footer  */



.footer {
  background: #f1f1f1;
}

.footer__logo>.header__logo>img {
  width: 167px;
  height: 177px;
}

.footer__item {
  border-bottom: 1px solid #d2d2d2;
  padding-bottom: 5px;
  margin-bottom: 10px;
}


.footer__item-title {
  margin-bottom: 1px;
  font-weight: bolder;
}

.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.footer__logo-style {
  height: 102px;
  width: 152px;

}

/* Login Screen */

.wrapper {
  display: flex;
  /* height: 100vh; */
}

.section__left {
  flex: 0 0 50%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__left-img {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background-position: center center !important;
}

/* .section__left {
  flex: 0 0 50%;
} */

.section__right {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */

}

.section__right-text {
  text-align: center;
  max-width: 500px;
  font-size: 14px;
  margin-top: 18px;
}

/* Login Button Css */

.login__title {
  color: #333;
}

.login__title>span::after {
  content: '';
  height: 5px;
  width: 45%;
  position: absolute;
  background: #b8b4fc;
  bottom: 0;
  left: 0;
}

.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 40px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  /* border-radius: 0.2em; */
  font-size: 16px;
  color: #FFF;
}

.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}

.loginBtn:focus {
  outline: none;
}

.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}

.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}

.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #3e82f7;
  background-color: #3e82f7 !important;
}


/* ===========login Screen========= */

.login {
  position: relative;
}

.login__other {
  color: #464644;
  position: relative;
  font-family: ProximaNova-Regular;
  font-size: 16px;
  line-height: 31px;
}

.login__other>hr {
  border: 0;
  border-bottom: 1px solid #222;
  width: calc(100% - 30px);
  margin: 0;
  position: absolute;
  top: 54%;
  transform: translateY(-50%);
  right: 0;
}




.mobile__input {
  border-radius: 0;
  color: #222;
  border-width: 1px;
  padding: 5px;
  width: 250px;
}

.mobile__input:focus {
  outline: none !important;
}

.mobile__btn {
  font-size: 16px;
  line-height: 22px;
  padding: 6px 16px;
  outline: 0;
  background: #222 0 0 no-repeat padding-box;
  border: 1px solid #222;
  border-radius: 2px;
  color: #fff;
}

/* overwrite bootstrap css */



.modal-header {
  border-bottom: none !important;
}


.navbar {
  padding: 0 !important;
}


.nav-link {
  color: #000 !important;
  font-weight: bold;

  font-size: 16px;
  padding-left: 0.8rem !important;
  padding-right: 0.8rem !important;
}

.progress {
  width: 60%;
  height: 0.6rem !important;
}

.progress>.bg-info {
  background-color: #FDE33D !important;
}


.dropdown-toggle::after {
  display: none !important;
}

/* overwrite carousel css */
.react-multi-carousel-item>div {
  cursor: pointer !important;
}

.react-multi-carousel-item.home>div img {
  max-width: 290px !important;
  height: 281px !important;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer !important;
}

.react-multi-carousel-item>div>img {
  max-width: 250px !important;
  height: 150px !important;
  border-radius: 10px;
  cursor: pointer !important;
}

.react-multi-carousel-item.top>div img {
  max-width: 192px !important;
  height: 186px !important;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer !important;
}

.react-multi-carousel-item.category>div {
  max-width: 243px !important;
  /* height: 235px !important; */

}

.react-multi-carousel-item.category>div img {
  max-width: 243px !important;
  height: 235px !important;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer !important;
}

@media screen and (max-width: 767px) {
  .react-multi-carousel-item.top>div img {
    max-width: 150px !important;
    height: 150px !important;
  }

  .react-multi-carousel-item.category>div {
    max-width: 150px !important;
  }

  .react-multi-carousel-item.category>div img {
    max-width: 150px !important;
    height: 150px !important;
  }


}

/* Modal Input Style */
.login-logo {
  height: 280px;
}

.modal__block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input__style {
  width: 2rem !important;
}

.container__style {
  justify-content: center;
}

/* Search Field */


.search__title {
  color: #fff;
  font-weight: bold;
  font-size: 60px;
}

.search__inner {
  display: inline-block;
  width: 383px;
}

.search__block {
  display: flex;
  background: #f9f9f9;
  border-radius: 16px;
  padding: 27px;
  position: relative;

}

.block__location,
.block__query {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 2;
}

.block__location>label {
  margin: 0;
}

.input--text {
  outline: none;
  border: none;
  padding: 6px;
  width: 320px;
  font-size: 17px;
  background: #fafafa;
}

.input--text:focus {
  outline: none !important;
  border: none !important;
}

.line {
  margin-left: 6px;
  padding: 0 3px;
  border-left: 2px solid #e0e0e0;
}

.block--text {
  font-weight: normal;
}


/* .search__btn {
  border: none;
  background: #1f1f1f;
  color: #fff;
  font-weight: 600;
  padding: 0 10px;

  border-radius: 0 5px 5px 0;
} */

.search__btn {
  position: absolute;
  right: 17px;
  top: 17px;
  flex: 1;
  border: none;
  /* background: #BEBEBE; */
  /* color: #fff; */
  font-size: 16px;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 16px;
}

/* .search__bt::before {
  background-image: url('../assets/search_new.png');
} */


.suggestions {
  margin: 0;
  padding: 0;
  top: 90px;
  position: absolute;
  width: 341px;
  left: -14px;
  border-radius: 0 0 4px 4px;
}

.suggestions li {
  background: white;
  list-style: none;
  border-bottom: 1px solid #D8D8D8;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.14); */
  margin: 0;
  padding: 5px 10px;
  transition: #f3f3f3 0.2s;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}

/* Chat Box */

.app {
  background-color: #f0f0f0;
  width: 900px;
  height: 450px;
  box-shadow: 0px 8px 60px -10px white;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  margin: auto;
  position: relative;
}

.app .contact-list {
  background-color: #f0f0f0;
  width: 200px;
  overflow: auto;
}

.app .contact-list .title {
  padding: 12px;
  margin: 0;
  padding-bottom: 0;
  font-size: 150%;
}

.app .contact-list ul {
  list-style: none;
  margin: 0;
  padding: 12px;
}

.app .contact-list ul li {
  margin: 8px 0;
  padding: 8px 12px;
  position: relative;
  cursor: pointer;
  transition: all .2s ease-out;
}

.app .contact-list ul li.active,
.app .contact-list ul li:hover {
  background-color: #e1f0fa;
  color: #3498db;
  border-radius: 6px;
}

.app .messages {
  margin: 12px;
  background-color: #D9D7DD;
  border-radius: 6px;
  overflow: hidden;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  position: absolute;

  top: 0;
  bottom: 0;
  right: 10px;
  left: 200px;
}

.app .messages .messages-history {
  overflow: auto;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}

.app .messages .messages-history .message {
  width: 100%;
  padding: 12px;
  padding-top: 0;
}

.app .messages .messages-history .message:last-child {
  padding-top: 12px;
}

.app .messages .messages-history .message.me {
  text-align: right;
}

.app .messages .messages-history .message.me .message-body {
  color: white;
  background-color: #3498db;
}

.app .messages .messages-history .message .message-body {
  background-color: #D9D7DD;
  color: #333;
  font-weight: bold;
  display: inline-block;
  padding: 8px 12px;
  border-radius: 6px;
  max-width: 400px;
  min-width: 75px;
  line-height: 20px;
  text-align: initial;
}

.app .messages .messages-inputs {
  display: flex;
  border-top: 1px solid #ccc;
}

.app .messages .messages-inputs input[type="text"] {
  background-color: transparent;
  border: none;
  padding: 12px;
  resize: vertical;
  flex: 1 1 auto;
}

.app .messages .messages-inputs button {
  padding: 0 12px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.app .messages .messages-inputs button:hover i {
  color: #3498db;
}

.app .messages .messages-inputs button i {
  vertical-align: middle;
  transition: all .2s ease-out;
}

.message__text {
  border-top: 1px solid #333;
}

.message__text:focus {
  border: none;
  outline: none;
}

/* Crosoul Arrow */
.react-multiple-carousel__arrow--right,
.react-multiple-carousel__arrow--left {
  top: 30% !important;
}

.nearest_div .react-multiple-carousel__arrow--right,
.nearest_div .react-multiple-carousel__arrow--left {
  top: 43% !important;
}




/* Top Trip Package */

#trip__package>img {
  width: 140px !important;
  height: 110px !important;
}

#trip__package {
  display: flex;
  align-items: center;
}

.react-multi-carousel-item>div>.homepage {
  max-width: 376px !important;
  width: 376px;
  height: 237px !important;
  border-radius: 10px;
  cursor: pointer !important;
}

.react-multi-carousel-item>div>.homepagemobile {
  max-width: 376px !important;
  height: 500px !important;
  border-radius: 10px;
  cursor: pointer !important;
}

@media screen and (max-width: 767px) {
  
.react-multi-carousel-item>div>.homepage {
  max-width: 290px !important;
}
}


.fontweight {
  font-weight: 900 !important;
}
.FaSearchLocation{
  position: absolute;
  margin-left: 135px;
  margin-top: -35px;
}
.react-multi-carousel-item>div>img.caraselImage,
.Carousel-a>img {
  max-width: 900px !important;
  height: 50% !important;
  border-radius: 10px;
  cursor: pointer !important;
}