.saly_div {
  /* background-color: yellow; */
  /* max-height: 109vh; */
}
.rocket-image {
  width: 100%;
  /* height: 320px; */
  margin-top: 20px;
}
.explore_div {
  /* text-align: center; */
  font-weight: bold;
  /* font-size: 10px; */
}
@media screen and (max-width: 700px) {
  .rocket-image {
    width: 100% !important;
    /* margin-top: 40px; */
    /* height: 40px; */
  }
  .explore_div {
    text-align: center;
    font-weight: bold;
  }
  .ticket-div {
    text-align: center;
  }
}

.saly_card {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 10px;
}
.travel_card{
  margin:0 5px;
}
.saly-para {
  padding-top: 10px;
  font-size: 12px;
  text-align: center;
  font-weight: 600;
}
.viewbtn {
  /* margin-left: 10px; */
  text-align: center;
}
.men-image {
  position: absolute;
  left: -20.69%; 
  top: -83.83%;
  bottom: -65.48%;
  
}
.makebooking-btn {
  /* font-size: 16px; */
  background-color: #0FA453;
  color: white;
  width: 250px;
  height: 52px;
  border: 2px solid #0FA453 !important; 
  border-radius: 10px;
}
.ticket-div h3 h4 {
  position: absolute;
  font-style: normal;
  font-weight: bold;
  font-weight: 600;
}
@media screen and (max-width: 700px) {
  .explore_div {
    text-align: center;
  }
  .explore{
    text-align: center;
    justify-content: center;
}
}

.homepage-heading h1 {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 39px;
    line-height: 47px;
    text-align: center;
    color: #000000;
}

.homepage-heading p {
  font-family: 'Inter', sans-serif;
  
  font-size: 16px;
  line-height: 19px;  
  text-align: center;
  color: #000000;
}