.saly_div {
  /* background-color: yellow; */
}
.rocket-image {
  width: 100%;
  /* height: 320px; */
  margin-top: 20px;
}
.explore_div {
  /* text-align: center; */
  font-weight: bold;
  /* font-size: 10px; */
}
@media screen and (max-width: 700px) {
  .rocket-image {
    width: 100% !important;
    /* margin-top: 40px; */
    /* height: 40px; */
  }
  .explore_div {
    text-align: center;
    font-weight: bold;
  }
  .ticket-div {
    text-align: center;
  }
}

.saly_card {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 10px;
}
.travel_card{
  margin:0 5px;
}
.saly-para {
  padding-top: 10px;
  font-size: 12px;
  text-align: center;
  font-weight: 600;
}
.viewbtn {
  margin-left: 10px;
}
.men-image {
  position: absolute;
  left: -30.69%;
  right: -24.69%;
  top: 85.17%;
  bottom: -65.48%;
  /* background: url(illustration-2-transparent.png); */
}
.makebooking-btn {
  background-color: #864bd8;
  color: white;
  border: 2px solid #864bd8 !important;
}
.ticket-div h3 h4 {
  position: absolute;
  font-style: normal;
  font-weight: bold;
  font-weight: 600;
}
@media screen and (max-width: 700px) {
  .explore_div {
    text-align: center;
  }
  .explore{
    text-align: center;
    justify-content: center;
}
}
