.destina_search{
    background-color: #864BD8;
     border-radius: 5px;
    color: #fff;
    height: 41px;
    text-align: center;
    padding-top: 10px;
    width: 70%;
   
}
.search_cel{
    margin: 4px;
    width: 22%;
}
@media (min-width: 320px) and (max-width: 767px){
.destina_search{   
    border-radius: 5px;
   color: #fff;
   height: 30px;
   text-align: center;
   padding-top:3px;
   width:70px;
   font-size: 9px;
   font-weight: 600;
   padding-left: 6px;
}
.search_video{
    width: 25%;
}
}
/* @media (min-width: 700px) and (max-width:768px){
    .destina_search{   
        border-radius: 5px;
       color: #fff;
       height: 30px;
       text-align: center;
       padding-top:3px;
       width:75px;
       font-size: 9px;
       font-weight: 600;
       padding-left: 6px;
    }
    
    } */