.confirm-title{
    font-size: 15px;
    font-weight: 700;
    color: black;
}
.confirm_div{
    margin: auto;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}
.confirm_part{
    white-space: nowrap;
    font-size: 12px;
}
.confirm-main{
    text-align: center;
}