:root{
  --primary-color: rgb(15,164,83);
  --secondary-color: rgb(134,75,216)
}
.btn-primary-b{
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: #fff;
  border-radius: 0.5em;
}
.btn-secondary-b{
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: #fff;
  border-radius: 0.5em;

}
@import url('./assets/css/header.css');
@import url('./assets/css/home.css');