@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
* {
  font-family: "Inter", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: white !important;
}

.user-icon {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 400;
  align-items: center;
  margin-left: 0px;
  cursor: pointer;
  padding-bottom: 10px;
}
@media screen and (max-width: 320px) {
  .user-icon {
    font-size: 20px !important;
  }
}
.icon-item {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.tab-icons{
  padding: 0 20px;
}
.userDate {
  color: grey;
  font-size: 19px;
}

.fromtocontainer {
  border-radius: 10px;
  overflow: hidden;
  padding: 0 20px;
  background-color: #9b98981c;
}
.userform {
  align-items: center;
  padding: 10px;
  background-color: #9b98981c;
  border-radius: 999px;
}
.usre-sourc {
  border-bottom: 1px solid #9b98996c;
}
.user_input {
  width: 97%;
  border: none !important;
  background-color: #cccbcb05;
  outline-width: 0;
  border-radius: 6px;
  margin-left: 4px;
  padding-top: 0;
}
.formselect {
  margin: 0px;
  font-size: 12px;
}
.userdatas{
  color: grey;
  font-size: 19px;
  background-color: #9b98981c;
  margin: 0 0 20px 0;
  padding:10px 20px;
  border-radius: 10px;
}
.userdata {
  color: grey;
  font-size: 19px;
  background-color: #9b98981c;
  margin: 20px 0;
  padding:10px 20px;
  border-radius: 10px;
}
.airoIcon {
  margin-right: 20px;
}
