body{
  margin: 0;
  padding: 0;
}

.user-icon{  
  width: 100%;
  display: flex;
    justify-content: center;
  font-size: 30px;
  font-weight: 400;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  padding-bottom:10px;   
}
@media screen and (max-width: 320px){
  .user-icon{
    font-size: 20px !important;
}
}
.icon-item{
  text-align: center;
}
.userDate{
  background-color: #9b98981c;
  color:grey;
  margin:10px;
  height:85px;
  border-radius: 6px;
  font-size: 19px;
    font-weight: 400;
}
.userform{
  align-items: center;
  padding: 10px;
  margin: 10px;
  background-color: #9b98981c;
  border-radius: 999px;
}
.usre-sourc{
  border-bottom: 1px solid #9b98996c;
}
.user_input{
  width: 100%;
  border: none!important;
    background-color: #cccbcb05;
    outline-width: 0;   
    border-radius: 6px;
}
/* .icon-item{
  text-align: center;
} */
.userdata{
  background-color: #9b98981c;
  color:grey;
  margin:10px;
  height: 85px;
  border-radius: 6px;
  font-size: 19px;
    font-weight: 400;
}

/*{pass.css}*/


/* {header_div} */

/* .header_div{
  padding: 0;
  margin: 0;
}
.header_image{
  width: 100%;
}
@media screen and (max-width: 320px){
  .header_image{
    width: 40%!important;
}
}
.header_middle{
  display: flex;
  flex: 1;
  justify-content: center;
}
.header_right{

}
.header_item{
  padding:10px;
}
.header_item:hover{
  background-color: blue;
  color:white;
} */