@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
* {
  font-family: "Inter", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: white !important;
}

.user-icon {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 400;
  align-items: center;
  margin-left: 0px;
  cursor: pointer;
  padding-bottom: 10px;
}
@media screen and (max-width: 320px) {
  .user-icon {
    font-size: 20px !important;
  }
}
.icon-item {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.tab-icons{
  padding: 0 20px;
}
.userDate {
  color: grey;
  font-size: 19px;
}

.fromtocontainer {
  border-radius: 10px;
  overflow: hidden;
  padding: 0 20px;
  background-color: #9b98981c;
}
.userform {
  align-items: center;
  padding: 10px;
  background-color: #9b98981c;
  border-radius: 999px;
}
.usre-sourc {
  border-bottom: 1px solid #9b98996c;
}

.user_input {
  width: 97%;
  outline: none !important;
  background-color: #cccbcb05;
  outline-width: 0;
  border-radius: 6px;
  margin-left: 4px;
  padding-top: 0;
  border: none;
}
.formselect {
  margin: 0px;
  font-size: 12px;
}
.userdatas{
  /* color: grey; */
  display: flex;
  flex-direction: row;
  font-size: 12px;
  background-color: #9b98981c;
  margin: 0 0 20px 0;
  padding:10px 20px;
  border-radius: 10px;
  cursor: pointer;
}
.userdatas {
  /* color: grey; */
  font-size:12px;
  background-color: #9b98981c;
  /* margin:;
  padding:10px 20px; */
  border-radius: 10px;
}
.airoIcon {
  margin-right: 20px;
}
.booking_icon{
  font-size: 15px;
  font-weight: 600;
}
.bus_secation{
padding-left: 15px;
}

.textHover {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #161a12;
}
.overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #161a12;
}
.overlay3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #161a12;
  opacity: 0.6;
  color:black
}
.container123 ,.homepage1{
  position: relative;
}
.container123:hover .overlay {
  opacity: 0.6;
  color:black
}
.container123:hover .overlay2 {
  opacity: 0.6;
  color:black
}
 
.top_title123{
  font-weight: bold;
    font-size: 53px  !important;
    line-height: 28px;
    text-align: center;
}